//-  連想配列例()ラインナップ
-
    var arr = {
        rooms01_01: {
          title : '玄関・リビング用 消臭力',
          image : 'img_modal_product_rooms_01_01.jpg',
          id : 'rooms01_01',
          url: 'https://products.st-c.co.jp/detail/536/',
          item01: {
            title:'アロマカモミール',
            image: 'rooms_01_01/item01.png'
          },
          item02: {
            title:'せっけん',
            image: 'rooms_01_01/item02.png'
          },
          item03: {
            title:'炭と白檀',
            image: 'rooms_01_01/item03.png'
          },
          item04: {
            title:'ラベンダー',
            image: 'rooms_01_01/item04.png'
          },
          item05: {
            title:'グレープフルーツ',
            image: 'rooms_01_01/item05.png'
          },
          item06: {
            title:'フィンランドリーフ',
            image: 'rooms_01_01/item06.png'
          },
          item07: {
            title:'うっとりローズ\nアロマ',
            image: 'rooms_01_01/item07.png'
          },
          item08: {
            title:'大人の贅沢\nミッドナイト\nベリー',
            image: 'rooms_01_01/item08.png'
          },
          item09: {
            title:'ラブリーブーケ',
            image: 'rooms_01_01/item09.png'
          },
          item10: {
            title:'エアリーブーケ',
            image: 'rooms_01_01/item10.png'
          },
          item11: {
            title:'グロッシーブーケ',
            image: 'rooms_01_01/item11.png'
          },
          item12: {
            title:'タバコ用\nアクアシトラス',
            image: 'rooms_01_01/item12.png'
          },
          item13: {
            title:'ペット用\nフルーティーガーデン',
            image: 'rooms_01_01/item13.png'
          },
          item14: {
            title:'無香料',
            image: 'rooms_01_01/item14.png'
          },
        },
        rooms01_02: {
          title : '玄関・リビング用 消臭力 \nPremium Aroma（プレミアムアロマ）',
          image : 'img_modal_product_rooms_01_02.jpg',
          id : 'rooms01_02',
          url: 'https://products.st-c.co.jp/detail/486/',
          item01: {
            title:'アーバンロマンス',
            image: 'rooms_01_02/item01.png'
          },
          item02: {
            title:'グレイスボーテ',
            image: 'rooms_01_02/item02.png'
          },
          item03: {
            title:'イノセントシフォン',
            image: 'rooms_01_02/item03.png'
          },
          item04: {
            title:'モダンエレガンス',
            image: 'rooms_01_02/item04.png'
          },
          item05: {
            title:'ルミナスノーブル',
            image: 'rooms_01_02/item05.png'
          },
          item06: {
            title:'新録',
            image: 'rooms_01_02/item06.png'
          },
          item07: {
            title:'柚黄',
            image: 'rooms_01_02/item07.png'
          },
          item08: {
            title:'スイートオレンジ＆\nベルガモット',
            image: 'rooms_01_02/item08.png'
          },
          item09: {
            title:'レモングラス＆\nレモン',
            image: 'rooms_01_02/item09.png'
          },
          item10: {
            title:'ユーカリ＆\nゼラニウム',
            image: 'rooms_01_02/item10.png'
          },
        },
        rooms01_03: {
          title : '消臭力クリアビーズ イオン消臭プラス',
          image : 'img_modal_product_rooms_01_03.jpg',
          id : 'rooms01_03',
          url: 'https://products.st-c.co.jp/detail/325/',
          item01: {
            title:'本体　無香料',
            image: 'rooms_01_03/item01.png'
          },
          item02: {
            title:'大容量　本体\n無香料',
            image: 'rooms_01_03/item02.png'
          },
          item03: {
            title:'特大　本体\n無香料',
            image: 'rooms_01_03/item03.png'
          },
          item04: {
            title:'つめかえ　無香料',
            image: 'rooms_01_03/item04.png'
          },
          item05: {
            title:'大容量　つめかえ\n無香料',
            image: 'rooms_01_03/item05.png'
          },
          item06: {
            title:'特大　つめかえ\n無香料',
            image: 'rooms_01_03/item06.png'
          },
        },
        rooms03_01: {
          title : '玄関・リビング用 消臭力 \nPremium Aroma Stick（プレミアムアロマ スティック）',
          image : 'img_modal_product_rooms_03_01.jpg',
          id : 'rooms03_01',
          url: 'https://products.st-c.co.jp/detail/4096/',
          item01: {
            title:'本体\nアーバンロマンス',
            image: 'rooms_03_01/item01.png'
          },
          item02: {
            title:'本体\nグレイスボーテ',
            image: 'rooms_03_01/item02.png'
          },
          item03: {
            title:'本体\nモダンエレガンス',
            image: 'rooms_03_01/item03.png'
          },
          item04: {
            title:'本体\nイノセントシフォン',
            image: 'rooms_03_01/item04.png'
          },
          item05: {
            title:'つめかえ\nアーバンロマンス',
            image: 'rooms_03_01/item05.png'
          },
          item06: {
            title:'つめかえ\nグレイスボーテ',
            image: 'rooms_03_01/item06.png'
          },
          item07: {
            title:'つめかえ\nモダンエレガンス',
            image: 'rooms_03_01/item07.png'
          },
          item08: {
            title:'つめかえ\nイノセントシフォン',
            image: 'rooms_03_01/item08.png'
          }
        },
        rooms04_01: {
          title : '消臭力 自動でシュパッと',
          image : 'img_modal_product_rooms_04_01.jpg',
          id : 'rooms04_01',
          url: 'https://products.st-c.co.jp/detail/327/',
          item01: {
            title:'本体\nピュアフローラルの香り',
            image: 'rooms_04_01/item01.png'
          },
          item02: {
            title:'本体\nトゥインクルフローラルの香り',
            image: 'rooms_04_01/item02.png'
          },
          item03: {
            title:'本体\nフィンランドリーフの香り',
            image: 'rooms_04_01/item03.png'
          },
          item04: {
            title:'つけかえ\nピュアフローラルの香り',
            image: 'rooms_04_01/item04.png'
          },
          item05: {
            title:'つけかえ\nトゥインクルフローラルの香り',
            image: 'rooms_04_01/item05.png'
          },
          item06: {
            title:'つけかえ\nフィンランドリ―フの香り',
            image: 'rooms_04_01/item06.png'
          },
          item07: {
            title:'つけかえ\nハーバルローズの香り',
            image: 'rooms_04_01/item07.png'
          },
          item08: {
            title:'つけかえ\nマイルドソープの香り',
            image: 'rooms_04_01/item08.png'
          },
          item09: {
            title:'つけかえ\nフレッシュシトラスの香り',
            image: 'rooms_04_01/item09.png'
          },
          item10: {
            title:'つけかえ\n２個セット\nピュアフローラルの香り',
            image: 'rooms_04_01/item10.png'
          },
          item11: {
            title:'つけかえ\n２個セット\nトゥインクルフローラルの香り',
            image: 'rooms_04_01/item11.png'
          },
          item12: {
            title:'つけかえ\n２個セット\nフィンランドリ―フの香り',
            image: 'rooms_04_01/item12.png'
          },
          item13: {
            title:'つけかえ\n２個セット\nハーバルローズの香り',
            image: 'rooms_04_01/item13.png'
          },
          item14: {
            title:'つけかえ\n２個セット\nマイルドソープの香り',
            image: 'rooms_04_01/item14.png'
          },
          item15: {
            title:'つけかえ\n２個セット\nフレッシュシトラスの香り',
            image: 'rooms_04_01/item15.png'
          },
        },
        rooms04_02: {
          title : '消臭力 プラグタイプ',
          image : 'img_modal_product_rooms_04_02.jpg',
          id : 'rooms04_02',
          url: 'https://products.st-c.co.jp/detail/546/',
          item01: {
            title:'本体\nホワイトフローラルの香り',
            image: 'rooms_04_02/item01.png'
          },
          item02: {
            title:'本体\nタバコ用\nマリンソープの香り',
            image: 'rooms_04_02/item02.png'
          },
          item03: {
            title:'本体\nナチュラルソープの香り',
            image: 'rooms_04_02/item03.png'
          },
          item04: {
            title:'つけかえ\nホワイトフローラルの香り',
            image: 'rooms_04_02/item04.png'
          },
          item05: {
            title:'つけかえ\nタバコ用\nマリンソープの香り',
            image: 'rooms_04_02/item05.png'
          },
          item06: {
            title:'つけかえ\nナチュラルソープの香り',
            image: 'rooms_04_02/item06.png'
          },
          item07: {
            title:'つけかえ\nシトラスバーベナの香り',
            image: 'rooms_04_02/item07.png'
          },
          item08: {
            title:'つけかえ\nペット用\nフルーティーガーデンの香り',
            image: 'rooms_04_02/item08.png'
          },
          item09: {
            title:'つけかえ\nチェリーブロッサムの香り',
            image: 'rooms_04_02/item09.png'
          },
        },
        toilet01_01: {
          title : '消臭力 トイレ用',
          image : 'img_modal_product_toilet_01_01.jpg',
          id : 'toilet01_01',
          url : 'https://products.st-c.co.jp/detail/556/',
          item01: {
            title:'アクアソープ',
            image: 'toilet_01_01/item01.png'
          },
          item02: {
            title:'アップルミント',
            image: 'toilet_01_01/item02.png'
          },
          item03: {
            title:'ラベンダー',
            image: 'toilet_01_01/item03.png'
          },
          item04: {
            title:'グレープフルーツ',
            image: 'toilet_01_01/item04.png'
          },
          item05: {
            title:'炭と白檀',
            image: 'toilet_01_01/item05.png'
          },
          item06: {
            title:'フィンランドリーフ',
            image: 'toilet_01_01/item06.png'
          },
          item07: {
            title:'大人の至福\nリッチアロマ',
            image: 'toilet_01_01/item07.png'
          },
          item08: {
            title:'ラブリーブーケ',
            image: 'toilet_01_01/item08.png'
          },
          item09: {
            title:'エアリーブーケ',
            image: 'toilet_01_01/item09.png'
          },
          item10: {
            title:'グロッシーブーケ',
            image: 'toilet_01_01/item10.png'
          },
        },
        //- toilet01_02: {
        //-   title : '消臭力 トイレ用',
        //-   image : 'img_modal_product_toilet01_02.jpg',
        //-   id : 'toilet01_02'
        //- },
        toilet01_03: {
          title : '消臭力 トイレ用 Premium Aroma （プレミアムアロマ）',
          image : 'img_modal_product_toilet_01_03.jpg',
          id : 'toilet01_03',
          url: 'https://products.st-c.co.jp/detail/338/',
          item01: {
            title:'アーバンロマンス',
            image: 'toilet_01_03/item01.png'
          },
          item02: {
            title:'グレイスボーテ',
            image: 'toilet_01_03/item02.png'
          },
          item03: {
            title:'モダンエレガンス',
            image: 'toilet_01_03/item03.png'
          },
          item04: {
            title:'イノセントシフォン',
            image: 'toilet_01_03/item04.png'
          },
          item05: {
            title:'ルミナスノーブル',
            image: 'toilet_01_03/item05.png'
          },
        },
        toilet02_01: {
          title : '消臭力 トイレ用 スプレー',
          image : 'img_modal_product_toilet_02_01.jpg',
          id : 'toilet02_01',
          url : 'https://products.st-c.co.jp/detail/340/',
          item01: {
            title:'無香料',
            image: 'toilet_02_01/item01.png'
          },
          item02: {
            title:'ラベンダー',
            image: 'toilet_02_01/item02.png'
          },
          item03: {
            title:'アクアソープ',
            image: 'toilet_02_01/item03.png'
          },
          item04: {
            title:'アップルミント',
            image: 'toilet_02_01/item04.png'
          },
          item05: {
            title:'グレープフルーツ',
            image: 'toilet_02_01/item05.png'
          },
          item06: {
            title:'炭と白檀',
            image: 'toilet_02_01/item06.png'
          },
          item07: {
            title:'フィンランドリーフ',
            image: 'toilet_02_01/item07.png'
          },
          item08: {
            title:'エアリーブーケ',
            image: 'toilet_02_01/item08.png'
          },
          item09: {
            title:'ラブリーブーケ',
            image: 'toilet_02_01/item09.png'
          },
          item10: {
            title:'グロッシーブーケ',
            image: 'toilet_02_01/item10.png'
          },
        },
        car_01_01: {
          title : 'クルマの消臭力 クリップタイプ',
          image : 'img_modal_product_car_01_01.jpg',
          id : 'car01_01',
          url : 'https://products.st-c.co.jp/detail/354/',
          item01: {
            title:'アクアブルー',
            image: 'car_01_01/item01.png'
          },
          item02: {
            title:'フローラル',
            image: 'car_01_01/item02.png'
          },
          item03: {
            title:'シトラス',
            image: 'car_01_01/item03.png'
          },
          item04: {
            title:'タバコ用スカイミント',
            image: 'car_01_01/item04.png'
          },
          item05: {
            title:'ホワイトムスク',
            image: 'car_01_01/item05.png'
          },
          item06: {
            title:'2個セット\nアクアブルー',
            image: 'car_01_01/item06.png'
          },
          item07: {
            title:'2個セット\nフローラル',
            image: 'car_01_01/item07.png'
          },
          item08: {
            title:'2個セット\nシトラス',
            image: 'car_01_01/item08.png'
          },
          item09: {
            title:'2個セット\nタバコ用スカイミント',
            image: 'car_01_01/item09.png'
          },
          item10: {
            title:'2個セット\nホワイトムスク',
            image: 'car_01_01/item10.png'
          },
          item11: {
            title:'4個セット\アクアブルー',
            image: 'car_01_01/item11.png'
          },
          item12: {
            title:'つけかえ\n２個セット\nフィンランドリ―フの香り',
            image: 'car_01_01/item12.png'
          },
          item13: {
            title:'クリーンスカッシュ',
            image: 'car_01_01/item13.png'
          },
          item14: {
            title:'ベルガモット＆\nスカッシュ',
            image: 'car_01_01/item14.png'
          },
          item15: {
            title:'2個セット\nクリーンスカッシュ',
            image: 'car_01_01/item15.png'
          },
          item16: {
            title:'2個セット\nベルガモット＆\nスカッシュ',
            image: 'car_01_01/item16.png'
          },
          item17: {
            title:'4個セット\nクリーンスカッシュ',
            image: 'car_01_01/item17.png'
          },
        },
        car_02_01: {
          title : 'クルマの消臭力 シート下専用 300g',
          image : 'img_modal_product_car_02_01.jpg',
          id : 'car02_01',
          url : 'https://products.st-c.co.jp/detail/361/',
          item01: {
            title:'無香料',
            image: 'car_02_01/item01.png'
          },
          item02: {
            title:'ウォータリースカッシュ',
            image: 'car_02_01/item02.png'
          },
          item03: {
            title:'エクセレントソープ',
            image: 'car_02_01/item03.png'
          },
          item04: {
            title:'ホワイトムスク',
            image: 'car_02_01/item04.png'
          },
          item05: {
            title:'フレッシュシトラス',
            image: 'car_02_01/item05.png'
          },
          item06: {
            title:'タバコ用スカイミント',
            image: 'car_02_01/item06.png'
          },
        },
        car_03_01: {
          title : 'クルマの消臭力 BIG',
          image : 'img_modal_product_car_03_01.jpg',
          id : 'car03_01',
          url : 'https://products.st-c.co.jp/detail/360/',
          item01: {
            title:'無香料',
            image: 'car_03_01/item01.png'
          },
          item02: {
            title:'ウォータリースカッシュ',
            image: 'car_03_01/item02.png'
          },
          item03: {
            title:'エクセレントソープ',
            image: 'car_03_01/item03.png'
          },
          item04: {
            title:'ホワイトムスク',
            image: 'car_03_01/item04.png'
          },
        },
    }

//-  取り出し
.p-lineup__modal
  .p-lineup__modal-box
    .p-lineup__modal-button.js-modal-close-btn
      span
    //- each val in arr
    div(class=arr.rooms01_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms01_01.title}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item01.image, alt=arr.rooms01_01.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms01_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item02.image, alt=arr.rooms01_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item03.image, alt=arr.rooms01_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item04.image, alt=arr.rooms01_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item05.image, alt=arr.rooms01_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item06.image, alt=arr.rooms01_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item07.image, alt=arr.rooms01_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item08.image, alt=arr.rooms01_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item09.image, alt=arr.rooms01_01.item09.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item10.image, alt=arr.rooms01_01.item10.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item10.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item11.image, alt=arr.rooms01_01.item11.title)
          p.p-lineup-modal__item-title !{arr.rooms01_01.item11.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item12.image, alt=arr.rooms01_01.item12.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item12.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item13.image, alt=arr.rooms01_01.item13.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item13.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_01.item14.image, alt=arr.rooms01_01.item14.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_01.item14.title.replace(/\r?\n|\r/g,"<br>")}   
      //- figure
      //-   img(src=image_path+"lineup/"+arr.rooms01_01.image, alt=arr.rooms01_01.title)
      a.c-detail-button.c-detail-button--large(href=arr.rooms01_01.url ,target="_blank"): span 製品詳細
      .p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.rooms01_02.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms01_02.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item01.image, alt=arr.rooms01_02.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms01_02.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item02.image, alt=arr.rooms01_02.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item03.image, alt=arr.rooms01_02.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item04.image, alt=arr.rooms01_02.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item05.image, alt=arr.rooms01_02.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item06.image, alt=arr.rooms01_02.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item07.image, alt=arr.rooms01_02.item07.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item08.image, alt=arr.rooms01_02.item08.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item09.image, alt=arr.rooms01_02.item09.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_02.item10.image, alt=arr.rooms01_02.item10.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_02.item10.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.rooms01_02.url ,target="_blank"): span 製品詳細
      .p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.rooms01_03.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms01_03.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col3
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item01.image, alt=arr.rooms01_03.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms01_03.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item02.image, alt=arr.rooms01_03.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_03.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item03.image, alt=arr.rooms01_03.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_03.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item04.image, alt=arr.rooms01_03.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_03.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item05.image, alt=arr.rooms01_03.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_03.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms01_03.item06.image, alt=arr.rooms01_03.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms01_03.item06.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.rooms01_03.url,target="_blank"): span 製品詳細
      .p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.rooms03_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms03_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col4
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item01.image, alt=arr.rooms03_01.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms03_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item02.image, alt=arr.rooms03_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item03.image, alt=arr.rooms03_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item04.image, alt=arr.rooms03_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item05.image, alt=arr.rooms03_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item06.image, alt=arr.rooms03_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item07.image, alt=arr.rooms03_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms03_01.item08.image, alt=arr.rooms03_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.rooms03_01.item08.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.rooms03_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.rooms04_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms04_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col3
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item01.image, alt=arr.rooms04_01.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms04_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item02.image, alt=arr.rooms04_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item03.image, alt=arr.rooms04_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item04.image, alt=arr.rooms04_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item05.image, alt=arr.rooms04_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item06.image, alt=arr.rooms04_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item07.image, alt=arr.rooms04_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item08.image, alt=arr.rooms04_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item09.image, alt=arr.rooms04_01.item09.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item10.image, alt=arr.rooms04_01.item10.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item10.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item11.image, alt=arr.rooms04_01.item11.title)
          p.p-lineup-modal__item-title !{arr.rooms04_01.item11.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item12.image, alt=arr.rooms04_01.item12.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item12.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item13.image, alt=arr.rooms04_01.item13.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item13.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item14.image, alt=arr.rooms04_01.item14.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item14.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_01.item15.image, alt=arr.rooms04_01.item15.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_01.item15.title.replace(/\r?\n|\r/g,"<br>")}   
      a.c-detail-button.c-detail-button--large(href!=arr.rooms04_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.rooms04_02.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.rooms04_02.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col3
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item01.image, alt=arr.rooms04_02.item01.title)
          p.p-lineup-modal__item-title !{arr.rooms04_02.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3  
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item02.image, alt=arr.rooms04_02.item02.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item03.image, alt=arr.rooms04_02.item03.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item04.image, alt=arr.rooms04_02.item04.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item05.image, alt=arr.rooms04_02.item05.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item06.image, alt=arr.rooms04_02.item06.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item07.image, alt=arr.rooms04_02.item07.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item08.image, alt=arr.rooms04_02.item08.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.rooms04_02.item09.image, alt=arr.rooms04_02.item09.title) 
          p.p-lineup-modal__item-title !{arr.rooms04_02.item09.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.rooms04_02.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.toilet01_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.toilet01_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item01.image, alt=arr.toilet01_01.item01.title)
          p.p-lineup-modal__item-title !{arr.toilet01_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item02.image, alt=arr.toilet01_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item03.image, alt=arr.toilet01_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item04.image, alt=arr.toilet01_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item05.image, alt=arr.toilet01_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item06.image, alt=arr.toilet01_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item07.image, alt=arr.toilet01_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item08.image, alt=arr.toilet01_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item09.image, alt=arr.toilet01_01.item09.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_01.item10.image, alt=arr.toilet01_01.item10.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_01.item10.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.toilet01_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.toilet01_03.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.toilet01_03.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_03.item01.image, alt=arr.toilet01_03.item01.title)
          p.p-lineup-modal__item-title !{arr.toilet01_03.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_03.item02.image, alt=arr.toilet01_03.item02.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_03.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_03.item03.image, alt=arr.toilet01_03.item03.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_03.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_03.item04.image, alt=arr.toilet01_03.item04.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_03.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet01_03.item05.image, alt=arr.toilet01_03.item05.title) 
          p.p-lineup-modal__item-title !{arr.toilet01_03.item05.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.toilet01_03.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.toilet02_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.toilet02_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item01.image, alt=arr.toilet02_01.item01.title)
          p.p-lineup-modal__item-title !{arr.toilet02_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item02.image, alt=arr.toilet02_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item03.image, alt=arr.toilet02_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item04.image, alt=arr.toilet02_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item05.image, alt=arr.toilet02_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item06.image, alt=arr.toilet02_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item07.image, alt=arr.toilet02_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item08.image, alt=arr.toilet02_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item09.image, alt=arr.toilet02_01.item09.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.toilet02_01.item10.image, alt=arr.toilet02_01.item10.title) 
          p.p-lineup-modal__item-title !{arr.toilet02_01.item10.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.toilet02_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.car_01_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.car_01_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5.p-lineup-modal__image--center
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item01.image, alt=arr.car_01_01.item01.title)
          p.p-lineup-modal__item-title !{arr.car_01_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item02.image, alt=arr.car_01_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item03.image, alt=arr.car_01_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item04.image, alt=arr.car_01_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item05.image, alt=arr.car_01_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item06.image, alt=arr.car_01_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item07.image, alt=arr.car_01_01.item07.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item07.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item08.image, alt=arr.car_01_01.item08.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item08.title.replace(/\r?\n|\r/g,"<br>")} 
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item09.image, alt=arr.car_01_01.item09.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item09.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item10.image, alt=arr.car_01_01.item10.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item10.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item11.image, alt=arr.car_01_01.item11.title)
          p.p-lineup-modal__item-title !{arr.car_01_01.item11.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5  
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item12.image, alt=arr.car_01_01.item12.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item12.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col5
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item13.image, alt=arr.car_01_01.item13.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item13.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item14.image, alt=arr.car_01_01.item14.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item14.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item15.image, alt=arr.car_01_01.item15.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item15.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item16.image, alt=arr.car_01_01.item16.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item16.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col5
          figure
            img(src=image_path+"lineup/modal/"+arr.car_01_01.item17.image, alt=arr.car_01_01.item17.title) 
          p.p-lineup-modal__item-title !{arr.car_01_01.item17.title.replace(/\r?\n|\r/g,"<br>")}   
      a.c-detail-button.c-detail-button--large(href!=arr.car_01_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.car_02_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.car_02_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col3
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item01.image, alt=arr.car_02_01.item01.title)
          p.p-lineup-modal__item-title !{arr.car_02_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3  
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item02.image, alt=arr.car_02_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.car_02_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item03.image, alt=arr.car_02_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.car_02_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item04.image, alt=arr.car_02_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.car_02_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item05.image, alt=arr.car_02_01.item05.title) 
          p.p-lineup-modal__item-title !{arr.car_02_01.item05.title.replace(/\r?\n|\r/g,"<br>")}  
        .p-lineup-modal__item.p-lineup-modal__item--col3
          figure
            img(src=image_path+"lineup/modal/"+arr.car_02_01.item06.image, alt=arr.car_02_01.item06.title) 
          p.p-lineup-modal__item-title !{arr.car_02_01.item06.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.car_02_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる
    div(class=arr.car_03_01.id).p-lineup__modal-article
      h3.p-lineup__modal-heading !{arr.car_03_01.title.replace(/\r?\n|\r/g,"<br>")}
      .p-lineup-modal__image.p-lineup-modal__image--col4
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.car_03_01.item01.image, alt=arr.car_03_01.item01.title)
          p.p-lineup-modal__item-title !{arr.car_03_01.item01.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4  
          figure
            img(src=image_path+"lineup/modal/"+arr.car_03_01.item02.image, alt=arr.car_03_01.item02.title) 
          p.p-lineup-modal__item-title !{arr.car_03_01.item02.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.car_03_01.item03.image, alt=arr.car_03_01.item03.title) 
          p.p-lineup-modal__item-title !{arr.car_03_01.item03.title.replace(/\r?\n|\r/g,"<br>")}
        .p-lineup-modal__item.p-lineup-modal__item--col4
          figure
            img(src=image_path+"lineup/modal/"+arr.car_03_01.item04.image, alt=arr.car_03_01.item04.title) 
          p.p-lineup-modal__item-title !{arr.car_03_01.item04.title.replace(/\r?\n|\r/g,"<br>")}
      a.c-detail-button.c-detail-button--large(href!=arr.car_03_01.url,target="_blank"): span 製品詳細
      a.p-lineup__modal-close.js-modal-close-btn: span 閉じる